html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/*Header styles and links*/
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10rem;
    background-color: #fff;
    border-bottom: 2px solid red;
}

.name-title {
    font-family: Helvetica;
    padding-top: 1em;
    margin-left: 1em;
}

.gallery-link {
    font-family: ariel;
    padding-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #000;
}

.logo {
    width: 12rem;
    float: right;
    padding-top: 1em;
}

body {
    margin: 0;
}

.home-page {
    display: grid;
    grid-template-columns: 1fr;
    background-image: radial-gradient(rgb(57, 55, 55) 4%, black );
}

.splash-text {
    font-family: Helvetica;
    font-size: 2rem;
    color: #fff;
    margin-left: 1.2em;
}

.splash-image {
   display: block;
   margin-top: auto;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: auto;
}

/* gallery link page*/
.gal-link {
    display: flex;
    align-items: center;
    width: 45%;
    height: 10em;
    border: 1px solid #fff;
    margin: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.display-box {
    margin: 0;
    height: 1000px;
}

.thumbnail {
    display: flex;
    flex-wrap: wrap;
    width: 10rem;
}

.thumbnail-title {
    display: wrap;
    flex-wrap: wrap;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Helvetica;
    margin-top: 0;
    margin-left: 1em;
}

 .thumbnail-text {
    display: wrap;
    flex-wrap: wrap;
    color: #fff;
    font-size: 1rem;
    font-weight: light;
    font-family: Helvetica;
    margin-top: 0;
    margin-left: 1.4em;
}

body.gallery-list {
    margin: 0;
    background-color: #000;
}

/* pala march page*/

body.pala-march {
    margin: 0;
    background-image: linear-gradient(black, red, green);
}

.sub-heading-pala {
    font-family: Helvetica;
    color: #fff;
    margin-left: 2em;
}

.preview {
    width: 100%;
    max-width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.row > .col {
    padding: 0 8px;
}

.col {
    float: left;
    width: 30%;
}

.four-boys {
    width: 100%;
}

/*Pride edits*/

body.pride25 {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: conic-gradient(from var(--angle),#E81416, #FFA500, #faeb36, #79c314, #487de7, #4b369d, #70369d, #E81416 );
    animation: 10s spin linear infinite;
}

.profile {
    max-width: 175px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-image: conic-gradient(from var(--angle),#E81416, #FFA500, #faeb36, #79c314, #487de7, #4b369d, #70369d, #E81416 );
    animation: 10s spin linear infinite;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    width: 80%;
    max-width: 1200px;
    overflow-x: scroll;

}

.slide {
    display: none;
}

.image-slide {
    width: 100%;
}

.modal-preview {
    width: 100%;
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

img.preview, img.modal-preview {
    opacity: 1;
}

img.active, 
.preview:hover,
.modal-preview:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
    color: #fff;
    text-shadow: 
        0 0 5px #ff4000,
        0 0 08px #ff4000,
        0 0 19px #ff4000,
        0 0 40px #666,
        0 0 80px #666,
        0 0 90px #666,
        0 0 100px #666,
        0 0 149px #666;
    opacity: 70%;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 
        0 0 5px #ff4000,
        0 0 8px #ff4000,
        0 0 19px #ff4000,
        0 0 40px #666,
        0 0 80px #666,
        0 0 90px #666,
        0 0 100px #666,
        0 0 149px #666;
    opacity: 70%;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 2px solid red;
}

.contact-shit {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    color: #fff;
    font-size: x-small;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes spin{
from {
    --angle: 0deg;
}
    to {
        --angle: 360deg;
    }
}

@media (max-width: 320px) {
    header {
        width: 100%;
        height: 5rem;
        border-bottom: 1px solid red;
}
    .name-title {
        font-family: Helvetica;
        font-size: 1em;
        margin-top: 1.5em;
        margin-left: 0.2em;
     
}
    .gallery-link {
        font-size: 1em;
}

    .logo {
        width: 6rem;
}
    .home-page {
        width: 100%;
        height: 100%;
}

    .splash-text {
        margin-left: 0.2em;
        font-size: 1em;
}

    .splash-image {
        width: 100%;
      
}
    footer {
    border-top: 1px solid red;
}

    .contact-shit {
        font-size: 0.5em;
        margin-top: 2em;
}
    .gal-link {
        width: 100%;
        height: 10em;
        margin: 0.2em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.2em;
}

    section.display-box {
        margin: 0;
        height: 580px;
}

    .thumbnail {
        width: 2rem;
}
    
    .thumbnail-title {
        font-size: 12px;
        font-family: Helvetica;
}
    .thumbnail-text {
        font-size: 10px;
        font-family: Helvetica;
    }

    .sub-heading-pala {
        font-size: 0.6em;        
        color: #fff;
        margin-left: 0.2em;
}

    .preview {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
}
    .col {
        float: left;
        width: 100%;
}
    .modal {
        padding: 0;
}
    .modal-content {
        width: 100%;
}
    .close {
        top: 4px;
        right: 8px;
        font-size: 20px;
        z-index: 9;
}

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
}

    .previous,
    .next {
        padding: 8px;
        font-size: 14px;
}
}

@media (max-width: 768px) {
    header {
        width: 100%;
        height: 5rem;
        border-bottom: 1px solid red;
}
    .name-title {
        font-family: Helvetica;
        font-size: 1em;
        margin-top: 1.5em;
        margin-left: 0.2em;
     
}
    .gallery-link {
        font-size: 1em;
}

    .logo {
        width: 6rem;
}
    .home-page {
        width: 100%;
        height: 100%;
}

    .splash-text {
        margin-left: 0.2em;
        font-size: 1em;
}

    .splash-image {
        width: 100%;
      
}
    footer {
    border-top: 1px solid red;
}

    .contact-shit {
        font-size: 0.5em;
        margin-top: 2em;
}
    .gal-link {
        width: 100%;
        height: 8em;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 0.8em;
}

    .display-box {
        margin: 0;
        height: 1024px;
}

    .thumbnail {
        width: 8rem;
}
    .description-text {
        font-size: 1em;
        display: wrap;
        flex-wrap: wrap;
        color: #fff;
        margin-left: 0.8rem;
        font-family: Helvetica;
}

    .sub-heading-pala {
        font-size: 1em;        
        color: #fff;
        margin-left: 0.2em;
}

    .preview {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        
}
    .col {
        float: left;
        width: 100%;
}
    .modal {
        padding: 0;
}
    .modal-content {
        width: 100%;
}
    .close {
        top: 4px;
        right: 8px;
        font-size: 20px;
        z-index: 9;
}

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
}

    .previous,
    .next {
        padding: 14px;
        font-size: 14px;
}
}
