html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/*Header styles and links*/
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10rem;
    background-color: #fff;
    border-bottom: 2px solid red;
}

.name-title {
    font-family: Helvetica;
    padding-top: 1em;
    margin-left: 1em;
}

.gallery-link {
    font-family: ariel;
    padding-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #000;
}

.logo {
    width: 12rem;
    float: right;
    padding-top: 1em;
}

body {
    margin: 0;
}

.home-page {
    display: grid;
    grid-template-columns: 1fr;
    background-image: radial-gradient(rgb(57, 55, 55) 4%, black );
}

.splash-text {
    font-family: Helvetica;
    font-size: 2rem;
    color: #fff;
    margin-left: 1.2em;
}

.splash-image {
   display: block;
   margin-top: auto;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: auto;
}

/* gallery link page*/
.gal-link {
    display: flex;
    align-items: center;
    width: 45%;
    height: 10em;
    border: 1px solid #fff;
    margin: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.display-box {
    margin: 0;
    height: 1000px;
}

.thumbnail {
    display: flex;
    flex-wrap: wrap;
    width: 10rem;
}

.thumbnail-title {
    display: wrap;
    flex-wrap: wrap;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Helvetica;
    margin-top: 0;
    margin-left: 1em;
}

 .thumbnail-text {
    display: wrap;
    flex-wrap: wrap;
    color: #fff;
    font-size: 1rem;
    font-weight: light;
    font-family: Helvetica;
    margin-top: 0;
    margin-left: 1.4em;
}

body.gallery-list {
    margin: 0;
    background-color: #000;
}

/* pala march page*/

body.pala-march {
    margin: 0;
    background-image: linear-gradient(black, red, green);
}
.gallery.pala-page {
    background-image: linear-gradient(black, red, green);

}

.sub-heading-pala {
    font-family: Helvetica;
    color: #fff;
    margin-left: 2em;
}

.four-boys {
    width: 100%;
}

/*Pride edits*/

body.pride25 {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: conic-gradient(from var(--angle),#E81416, #FFA500, #faeb36, #79c314, #487de7, #4b369d, #70369d, #E81416 );
    animation: 10s spin linear infinite;
}

.gallery.pride-page1 {
    background: none;
}

/*Migrant protest edits*/
body.migrant_protest {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to right, #E81416, gold, #83d215);
}

.gallery.migrant-protest {
    background: none;
}

.profile {
    max-width: 175px;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 2px solid red;
}

.contact-shit {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    color: #fff;
    font-size: x-small;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/**lost village styling**/
body.lost-village {
    background-color: #000;
}

.gallery {
    padding: 10px;
    max-width: 1400px;
    margin: 0 auto ;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    background: #000;
    
}

/**** stretch vertically ****/
.v-stretch {
    grid-row: span 2;    
}

/**** stretch horizontally ****/
.h-stretch {
    grid-column: span 2;    
}

/**** stretch vertically + horizontally****/
.big-stretch {
    grid-row: span 2;
    grid-column: span 2;    
}

.very-big-stretch {
    grid-row: span 3;
    grid-column: span 4;    
}
.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
}

@keyframes spin{
from {
    --angle: 0deg;
}
    to {
        --angle: 360deg;
    }
}

@media (max-width: 320px) {
    header {
        width: 100%;
        height: 5rem;
        border-bottom: 1px solid red;
}
    .name-title {
        font-family: Helvetica;
        font-size: 1em;
        margin-top: 1.5em;
        margin-left: 0.2em;
     
}
    .gallery-link {
        font-size: 1em;
}

    .logo {
        width: 6rem;
}
    .home-page {
        width: 100%;
        height: 100%;
}

    .splash-text {
        margin-left: 0.2em;
        font-size: 1em;
}

    .splash-image {
        width: 100%;
      
}
    footer {
    border-top: 1px solid red;
}

    .contact-shit {
        font-size: 0.5em;
        margin-top: 2em;
}
    .gal-link {
        width: 100%;
        height: 10em;
        margin: 0.2em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.2em;
}

    section.display-box {
        margin: 0;
        height: 580px;
}

    .thumbnail {
        width: 2rem;
}
    
    .thumbnail-title {
        font-size: 0.625rem;
        font-family: Helvetica;
}
    .thumbnail-text {
        font-size: 0.5rem;
        font-family: Helvetica;
    }

    .sub-heading-pala {
        font-size: 0.6em;        
        color: #fff;
        margin-left: 0.2em;
}

    .preview {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
}
    .col {
        float: left;
        width: 100%;
}
    .modal {
        padding: 0;
}
    .modal-content {
        width: 100%;
}
    .close {
        top: 4px;
        right: 8px;
        font-size: 20px;
        z-index: 9;
}

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
}

    .previous,
    .next {
        padding: 8px;
        font-size: 0.875rem;
}
}

@media (max-width: 560px) {
    .v-stretch{
        grid-row: span 2;
    }
    .h-stretch{
        grid-column: span 1;
    }
    .big-stretch{
        grid-row: span 1;
        grid-column: span 1;
    }
    .very-big-stretch{
        grid-row: span 1;
        grid-column: span 1;
    }
    .sub-head {
        margin-top: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    header {
        width: 100%;
        height: 5rem;
        border-bottom: 1px solid red;
}
    .name-title {
        font-family: Helvetica;
        font-size: 1em;
        margin-top: 1.5em;
        margin-left: 0.2em;
     
}
    .gallery-link {
        font-size: 1em;
}

    .logo {
        width: 6rem;
}
    .home-page {
        width: 100%;
        height: 100%;
}

    .splash-text {
        margin-left: 0.2em;
        font-size: 1em;
}

    .splash-image {
        width: 100%;
      
}
    footer {
    border-top: 1px solid red;
}

    .contact-shit {
        font-size: 0.5em;
        margin-top: 2em;
}
    .gal-link {
        width: 100%;
        height: 8em;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 0.8em;
}

    .display-box {
        margin: 0;
        height: 1024px;
}

    .thumbnail {
        width: 8rem;
}
    .thumbnail-title {
        font-size: 0.75rem;
        font-family: Helvetica;
}
    .thumbnail-text {
        font-size: 0.625;
        font-family: Helvetica;
    }

    .sub-heading-pala {
        font-size: 1em;        
        color: #fff;
        margin-left: 0.2em;
}

    .preview {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        
}
    .col {
        float: left;
        width: 100%;
}
    .modal {
        padding: 0;
}
    .modal-content {
        width: 100%;
}
    .close {
        top: 4px;
        right: 8px;
        font-size: 20px;
        z-index: 9;
}

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
}

    .previous,
    .next {
        padding: 14px;
        font-size: 14px;
}
}
